# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# NEXT_PUBLIC_BASE_URL="http://localhost:3001/api"

# DATABASE_URL=
# PRINTIFY_TOKEN=
# PRINTFUL_TOKEN=

# SHOPIFY_SHOP_NAME="ecommerce-for-kids.myshopify.com"
# SHOPIFY_API_KEY=
# SHOPIFY_SECRET_KEY=
# SHOPIFY_ADMIN_TOKEN=
# SHOPIFY_STOREFRONT_TOKEN=

# Create a new app within the Shopify admin while logged into the store to get new keys and tokens

# JWT_SECRET=